* {
  margin: 0;
  padding: 0;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}

a {
  display: block;
  text-decoration: none;
}

.header {
  padding-block: 20px;
  background-color: #fff;
}
.header__container {
  padding-inline: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container > h1 a {
  font-size: 32px;
}
.header__container > .btn--group .question {
  display: none;
  width: 90px;
  height: 30px;
  font-size: 12px;
}
.header__container > .btn--group .start {
  display: flex;
  width: 90px;
  height: 30px;
  color: #fff;
  background-color: #0E7159;
  font-size: 12px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

main .section__home {
  width: 100%;
  height: 192px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-block-end: 64px;
}
main .section__home__container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .section__home__container * {
  z-index: 10;
}
main .section__home__container h2 {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  letter-spacing: -0.9px;
}
main .section__home__container a {
  display: none;
  color: white;
}
main .section__service, main .section__realstate {
  padding-block-end: 84px;
}
main .section__service__container > h3, main .section__realstate__container > h3 {
  text-align: center;
  color: #0E7159;
  font-weight: 700;
  font-size: 21px;
  line-height: 25.2px;
  letter-spacing: -0.79px;
  margin-bottom: 42px;
}
main .section__service__container > h3 span, main .section__realstate__container > h3 span {
  font-weight: 500;
}
main .section__service__container > a, main .section__realstate__container > a {
  text-align: center;
  display: none;
}
main .section__service__container .service__grid, main .section__service__container .realstate__grid, main .section__realstate__container .service__grid, main .section__realstate__container .realstate__grid {
  display: grid;
  grid-template-columns: 293px;
  justify-content: center;
}
main .section__service__container .service__grid__item, main .section__service__container .realstate__grid__item, main .section__realstate__container .service__grid__item, main .section__realstate__container .realstate__grid__item {
  margin-bottom: 32px;
}
main .section__service__container .service__grid__item .service__image, main .section__service__container .service__grid__item .realstate__image, main .section__service__container .realstate__grid__item .service__image, main .section__service__container .realstate__grid__item .realstate__image, main .section__realstate__container .service__grid__item .service__image, main .section__realstate__container .service__grid__item .realstate__image, main .section__realstate__container .realstate__grid__item .service__image, main .section__realstate__container .realstate__grid__item .realstate__image {
  margin-bottom: 21px;
}
main .section__service__container .service__grid__item > h4, main .section__service__container .realstate__grid__item > h4, main .section__realstate__container .service__grid__item > h4, main .section__realstate__container .realstate__grid__item > h4 {
  font-weight: 700;
  font-size: 21px;
  line-height: 25.2px;
  letter-spacing: -0.79px;
  margin-bottom: 17px;
}
main .section__service__container .service__grid__item > p, main .section__service__container .realstate__grid__item > p, main .section__realstate__container .service__grid__item > p, main .section__realstate__container .realstate__grid__item > p {
  color: #6B7684;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.6px;
}
main .section__security__container > h3 {
  text-align: center;
  color: #0E7159;
  font-weight: 700;
  font-size: 21px;
  line-height: 25.2px;
  letter-spacing: -0.79px;
  margin-bottom: 46px;
}
main .section__security__container .security__grid {
  display: grid;
  grid-template-columns: 292px;
  justify-content: center;
}
main .section__security__container .security__grid__item span {
  color: #0E7159;
}
main .section__security__container > a {
  text-align: center;
}

.section__report, .section__procedure, .section__alarm {
  margin: auto;
  width: 340px;
  margin-bottom: 157px;
}
.section__report__container, .section__procedure__container, .section__alarm__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__report__container .report__data, .section__report__container .procedure__data, .section__report__container .alarm__data, .section__procedure__container .report__data, .section__procedure__container .procedure__data, .section__procedure__container .alarm__data, .section__alarm__container .report__data, .section__alarm__container .procedure__data, .section__alarm__container .alarm__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.section__report__container .report__data h4, .section__report__container .procedure__data h4, .section__report__container .alarm__data h4, .section__procedure__container .report__data h4, .section__procedure__container .procedure__data h4, .section__procedure__container .alarm__data h4, .section__alarm__container .report__data h4, .section__alarm__container .procedure__data h4, .section__alarm__container .alarm__data h4 {
  color: #0E7159;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 33px;
}
.section__report__container .report__data h3, .section__report__container .procedure__data h3, .section__report__container .alarm__data h3, .section__procedure__container .report__data h3, .section__procedure__container .procedure__data h3, .section__procedure__container .alarm__data h3, .section__alarm__container .report__data h3, .section__alarm__container .procedure__data h3, .section__alarm__container .alarm__data h3 {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  letter-spacing: -1.35px;
  margin-bottom: 33px;
}
.section__report__container .report__data p, .section__report__container .procedure__data p, .section__report__container .alarm__data p, .section__procedure__container .report__data p, .section__procedure__container .procedure__data p, .section__procedure__container .alarm__data p, .section__alarm__container .report__data p, .section__alarm__container .procedure__data p, .section__alarm__container .alarm__data p {
  font-weight: 500;
  font-size: 18px;
  color: #6B7684;
  line-height: 28px;
  letter-spacing: -0.67px;
  margin-bottom: 33px;
}
.section__report__container .report__image, .section__report__container .producer__image, .section__report__container .alarm__image, .section__procedure__container .report__image, .section__procedure__container .producer__image, .section__procedure__container .alarm__image, .section__alarm__container .report__image, .section__alarm__container .producer__image, .section__alarm__container .alarm__image {
  position: relative;
  display: flex;
}
.section__report__container .report__image img:nth-child(2), .section__report__container .producer__image img:nth-child(2), .section__report__container .alarm__image img:nth-child(2), .section__procedure__container .report__image img:nth-child(2), .section__procedure__container .producer__image img:nth-child(2), .section__procedure__container .alarm__image img:nth-child(2), .section__alarm__container .report__image img:nth-child(2), .section__alarm__container .producer__image img:nth-child(2), .section__alarm__container .alarm__image img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

.section__price {
  margin-bottom: 53px;
}
.section__price__container h2 {
  font-weight: 700;
  font-size: 24px;
  color: #0E7159;
  text-align: center;
  margin-bottom: 42px;
}
.section__price__container h2 span {
  font-weight: 500;
}
.section__price__container .price__grid {
  display: grid;
  grid-template-columns: 340px;
  justify-content: center;
  row-gap: 32px;
  margin-bottom: 33px;
}
.section__price__container .price__grid__item {
  border-radius: 16px;
  background-color: #F2F3F4;
  padding: 30px 24px 24px;
}
.section__price__container .price__grid__item h3 {
  color: #333D4B;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: -0.9px;
  margin-bottom: 28px;
}
.section__price__container .price__grid__item p {
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  letter-spacing: -0.6px;
  color: #6B7684;
}
.section__price__container .price__grid__item p:nth-of-type(1) {
  margin-bottom: 42px;
}
.section__price__container .price__grid__item p:nth-of-type(2) {
  margin-bottom: 15px;
}
.section__price__container .price__grid__item h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  letter-spacing: -1.2px;
  margin-bottom: 15px;
  color: #0E7159;
}
.section__price__container .price__grid__item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 292px;
  height: 64px;
  border-radius: 8px;
  background-color: #0E7159;
  color: #fff;
}
.section__price__container > a {
  text-align: center;
  color: #0E7159;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -0.67px;
}

.section__review {
  margin-bottom: 48px;
}
.section__review__container h2 {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  color: #0E7159;
  margin-bottom: 27px;
}
.section__review__container h2 span {
  font-weight: 500;
}
.section__review__container > a {
  text-align: center;
  display: none;
}
.section__review__container .review__grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 394px;
  gap: 20px;
}
.section__review__container .review__grid__item {
  border-radius: 16px;
  background-color: #F2F3F4;
  padding: 32px;
}
.section__review__container .review__grid__item .item__data {
  margin-bottom: 26px;
}
.section__review__container .review__grid__item .item__data h5 {
  font-weight: 700;
  color: #333D4B;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: -0.67px;
}
.section__review__container .review__grid__item .item__data span {
  font-weight: 500;
  color: #6B7684;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.67px;
}
.section__review__container .review__grid__item p {
  font-weight: 500;
  color: #6B7684;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.67px;
}

.section__start {
  width: 100%;
  background-color: #0E7159;
}
.section__start__container {
  padding-block: 210px;
  padding-inline: 18px;
}
.section__start__container h1 {
  text-align: center;
  color: white;
  font-size: 36px;
  line-height: 43.2px;
  letter-spacing: -1.35px;
  font-weight: 700;
}
.section__start__container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 60px;
  background-color: white;
  border-radius: 8px;
  color: #0E7159;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
  letter-spacing: -0.6px;
  margin: auto;
  margin-block-start: 60px;
}

.footer {
  padding-left: 44px;
  padding-block: 26px 24px;
}
.footer__container h5 {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.6px;
  line-height: 19.2px;
  margin-bottom: 18px;
}
.footer__container p {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.52px;
  color: #6B7684;
}/*# sourceMappingURL=main.css.map */