a {
  text-decoration: none;
  color: white;
}

h5 {
  color: grey;
  text-transform: uppercase;
}

h2 {
  color: white;
}

body {
  background-color: #26272c;
}

i {
  font-size: .55rem;
  margin-right: 10px;
}

.inner {
  /* background-color: pink; */
  max-width: 700px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

.header .profile {
  font-family: 'Racing Sans One',cursive;
  font-size: 2rem;
}

.header__box {
  font-family: 'Shrikhand', cursive;
}

.header__box a:nth-of-type(1){
  margin-right: 10px;
}

/* 
section__head
*/

.section__head {
  padding-block: 30px;
  /* background-color: red; */
}

.head__box {
  display: flex;
  /* background-color: yellowgreen; */
  gap: 40px;
  margin-top: 20px;
}

.head__image {
  width: 70px;
  height: 70px;
}

.head__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.head__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head__data h1 {
  color: white;
  font-size: 2rem;
  margin-bottom: 7px;
}

.head__data h5 {
  font-size: .8rem;
  text-indent: 5px;
}

/* 
section__profile 
*/

.section__profile,
.section__tech {
  /* background-color: blue; */
  margin-top: 40px;
  margin-bottom: 80px;
}

/* .profile__container,
.tech__container {

} */

.profile__container h2,
.tech__container h2 {
  position: relative;
  font-size: 1.1rem;
}

.profile__container h2:first-child::after,
.tech__container h2:first-child::after {
  text-transform: uppercase;
  position: absolute;
  top: -85%;
  left: 3px;
  font-size: .7rem;
  color: grey;
}

.profile__container > h2,
.tech__container > h2 {
  position: relative;
  font-size: 2rem;
}

.profile__container > h2:first-child::after,
.tech__container > h2:first-child::after {
  content: "profile";
  text-transform: uppercase;
  position: absolute;
  top: -70%;
  left: 3px;
  font-size: 1.25rem;
  color: grey;
}

.profile__box,
.tech__box {
  margin-top: 50px;
}

.bin {
  display: flex;
  margin-bottom: 40px;
  align-items: center;
}

.bin h2:first-child {
  flex: 30%;
  align-self: self-start;
}

.bin h2:last-child {
  flex: 70%;
  line-height: 1.4;
}

/* 
여기부터는 각 소개란 적는 곳 
*/

.profile__name h2:first-child::after {
  content: "name";
} 

.profile__birthday h2:first-child::after {
  content: "birthday";
} 

.profile__number h2:first-child::after {
  content: "number";
} 

.profile__email h2:first-child::after {
  content: "email";
}

.profile__home h2:first-child::after {
  content: "home";
}

.profile__introduce h2:first-child::after {
  content: "introduce";
} 

/* tech */

.tech__container .bin h2:last-child {
  line-height: 1;
}

.tech__container > h2:first-child::after {
  content: "tech";
}

.tech__front h2:first-child::after {
  content: "front";
} 

.tech__backend h2:first-child::after {
  content: "backend";
} 

